ve/
*.egg-info/
node_modules/
__pycache__
*.log

.cache*


*.pyc

package-lock.json
allfiles*
missing_files

/ngp
allfiles
app_running
preferences*.json
.hypothesis
.pytest_cache
.coverage
htmlcov
*.patch

duplicates.csv
pyramid.ini
.pyenv
*.mp4
*.ipynb
ml/
ffmpeg/
*.msgpack
cuda_*
