[app:main]
use = egg:app
#base = /path/to/your/data/
# linux:
#tempdir = /run/shm/app/
# mac:
#tempdir = /tmp/

[server:main]
use = egg:waitress#main
listen = 0.0.0.0:8844



[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] %(message)s
datefmt = %H:%M:%S

